
@media screen and (max-width: 768px){
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1; /* Por padrão, todos os flex-items tem 'order' = 0, portanto, 'order' -1 faz ele ser o primeiro da lista*/
    }

    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .conteudoPrincipal-cursos-link:nth-child(4n){
        margin-right: 1%;
    }
    
    .conteudoPrincipal-cursos-link:nth-child(4n+1){
        margin-left: 1%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list{
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm{
        width: auto;
    }
}
    


